.nav {
  grid-area: n;
  background-color: #a4b9cb;
}

.navList {
  list-style: none;
}

.item a {
  text-decoration: none;
  display: block;
  border-radius: 5px;
  padding: 5px;
}

.item {
  color: white;
  padding-bottom: 10px;
}

.active {
  color: white;
  background-color: rgb(239, 153, 33);
  box-shadow: 0px 0px 10px rgb(140, 135, 135);
}
