.personalData {
  display: inline-block;
  margin-left: 10px;
}

.backgroundImage {
  width: 100%;
  display: inline-block;
}

.avatarBlock {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.personalData h2 {
  margin-top: 0;
}

.profileInfo {
  list-style: none;
  padding: 0;
}

.avatarImage {
  width: 100%;
}

.descriptionBlock {
  padding: 10px;
}

.profileInfo li {
  color: #626d7a;
  font-size: 80%;
}

.profileInfo span {
  color: #6196d3;
  font-weight: bold;
  font-size: 100%;
}
